<header class="container-fluid">

    <div class="row h-purple">

        <div class="col-sm-3 col-md-2 header-logo">
            <a class="logo" href="/" title="Home" rel="home">
                <img src="/themes/custom/uwmed/dist/assets/uw-medicine.png"
                     alt="UW Medicine">
            </a>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-8 header-landings-nav">
            {{ drupal_menu('uw-header---quick-links', 1, 1) }}
        </div>

        <div class="col-md-2 header-search">
            <form action="http://www.uwmedicine.org/search/Pages/default.aspx">
                <div class="input-group">

                    <input name="k" type="text" class="form-control"
                           aria-label="Search terms">
                    <i class="fa fa-search" aria-hidden="true"></i>

                </div>
            </form>
        </div>

    </div>

    <div class="row h-white">

        <div class="col-xs-12 col-sm-10 header-main-navigation">

            {{ page.navigation }}
            {{ drupal_menu('uw-main-navigation', 0, 3) }}

        </div>
        <div class="col-xs-12 col-sm-2 header-gift">

            <div class="wrap">
                <div class="bg"></div>

                {#{{ drupal_menu('uw-header---make-a-gift', 1, 1) }}#}
                <ul class="wrap nav navbar-nav">
                    <li>
                        <a href="/make-a-gift">{{ 'Make a Gift'|t }}
                            &nbsp;<i class="fa fa-angle-right"
                                     aria-hidden="true"></i></a>

                    </li>
                </ul>


            </div>
        </div>

        <div class="col-sm-12 shadow"></div>
    </div>

</header>