{# Footer #}
<div  class="foot-feature {{ container }}">
    <div class="row">
        <div class="col-sm-12">{{ page.footer_feature }}</div>
    </div>
</div>

<footer class="footer {{ container }}" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">{{ page.footer_first }}</div>
            <div class="col-sm-6 col-md-5">{{ page.footer_second }}</div>
            <div class="col-sm-offset-8 col-sm-4 col-md-offset-0 col-md-2"></div>
        </div>
    </div>
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-sm-6 col-md-5">{{ drupal_menu('devel-sogavechebr') }}</div>#}
            {#<div class="col-sm-6 col-md-5">{{ drupal_menu('devel-jaclomitr') }}</div>#}
            {#<div class="col-sm-offset-8 col-sm-4 col-md-offset-0 col-md-2"></div>#}
        {#</div>#}
    {#</div>#}
</footer>
