{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}

{# TODO: Use a video object instead of a link; stop using rel attribute for captions file #}
{% for item in items %}
  {% set url = item.content["#url"]|render %}
  {% set link_text = item.content["#title"] %}

  {% if url matches '/.mp4$/' %}
    <button id="patientCarePlayButton" class="feature-story__link btn btn-default">
      <i class="hidden u-ips"></i>
      {{ link_text }}
    </button>
    <div style="display: none;">
      <div id="patientCareVideo">
        <video id="patientCareVideoPlayer" style="max-width: 100%;" controls="" preload="metadata" crossorigin="anonymous">
          <source src="{{ url }}" type="video/mp4">
          <track label="English" kind="captions" srclang="en" src="{{ item.content["#options"].attributes.rel }}" default="">
        </video>
      </div>
    </div>
  {% else %}
    <a href="{{ url }}" class="feature-story__link btn btn-default">{{ link_text }}</a>
  {% endif %}
{% endfor %}