{% extends 'field.html.twig' %}
{% set include_wrapper = 'false' %}
{% set item_element = 'section' %}
{% set item_classes = ['common-services__item'] %}

{% set n = 0 %}

{% block content %}

  {% if include_wrapper == 'true' %}
    <{{ wrapper_element }}{{ attributes.addClass(wrapper_classes) }}{% if wrapper_id %}{{ attributes.setAttribute('id', wrapper_id)}}{% endif %}>
  {% endif %}

  {% if not label_hidden %}
    <div{{ title_attributes.addClass(label_classes) }}>{{ label }}</div>
  {% endif %}

  {% for item in items %}
    {% set n = n+1 %}
    {% if items|length > 3 and n == items|length %}
      {% set column_number = "item-last-row-column-" ~ n%3 %}
    {% endif %}
    {% block item %}
      {{ key }}
      {{ margin_class }}
      <{{ item_element }}{{ item.attributes.addClass(item_classes).addClass('item item-' ~ n).addClass(column_number) }}>
      <i class="hidden u-ips"></i>
      {{ item.content }}
      </{{ item_element }}>
    {% endblock item %}
  {% endfor %}

  {% if include_wrapper == 'true' %}
    </{{ wrapper_element }}>
  {% endif %}

{% endblock content %}