{% extends 'field.html.twig' %}
{#

Shows HTML5 player if having
an MP4 and srt caption. Otherwise ,
use field defaults.


#}
{% block content %}

    {% if captionUrl.0.uri is not empty
    and 'mp4' in videoUrl.0.uri %}

        {#{{ devel_breakpoint() }}#}

        {% set videoHTML %}
            <video id="{{ uwm_field_uuid }}" style="max-width: 100%;"
                   controls="" preload="metadata" crossorigin="anonymous">
                <source src="{{ videoUrl.0.uri }}" type="video/mp4">
                <track label="English" kind="captions" srclang="en"
                       src="{{ captionUrl.0.uri }}" default="">
            </video>
        {% endset %}


        <div class="video-wrapper hidden">
            {{ videoHTML }}
        </div>

        <div class="video-thumbnail-wrapper">
            <a href="#{{ uwm_field_uuid }}" class="colorbox launch-video">
                {% if element.0['children']['#attributes']['data-thumbnail'] %}
                    <img src="{{ element.0['children']['#attributes']['data-thumbnail'] }}">
                    <i class="vplay fa svg-inline--fa fa-play-circle fa-w-16 fa-5x"></i>
                {% else %}
                    {{ videoHTML }}
                {% endif %}
            </a>

        </div>



    {% else %}

        {% include 'field.html.twig' %}

    {% endif %}

{% endblock %}
