{% extends 'field.html.twig' %}
{#

Shows HTML5 player if having
an MP4 and srt caption. Otherwise ,
use field defaults.


#}
{% block content %}

    {#{{ devel_breakpoint() }}#}

    {% if 'mp4' in videoSourceUrl %}
        {###
        #
        # USE HTML5 FOR MP4 SOURCE:
        #}
        {% set html %}
            <video class="uw-mpx-video" id="{{ uwm_field_uuid }}"
                   controls="" preload="metadata" crossorigin="anonymous">
                <source src="{{ videoSourceUrl }}" type="video/mp4">
                {% if videoCaptionUrl is not empty %}
                    <track label="English" kind="captions" srclang="en"
                           src="{{ videoCaptionUrl }}" default="">
                {% endif %}
            </video>
        {% endset %}

    {% elseif mpxPlayerId is not empty and mpxVideoId is not empty %}
        {###
        #
        # USE CUTOM MPX PLAYER:
        #}
        {% set html %}
            <iframe class="uw-mpx-video" id="{{ uwm_field_uuid }}"
                    src="http://player.mediaamp.io/p/U8-EDC/{{ mpxPlayerId }}/embed/select/media/{{ mpxVideoId }}?form=html"
                    frameBorder="0" seamless="seamless" allowFullScreen>
            </iframe>
        {% endset %}

    {% elseif mpxVideoId is not empty %}
        {###
        #
        # USE CUTOM MPX PLAYER:
        #}
        {% set html %}
            <iframe class="uw-mpx-video" id="{{ uwm_field_uuid }}"
                    src="http://player.mediaamp.io/p/U8-EDC/PfS6F0yR_GNu/embed/select/media/{{ mpxVideoId }}?form=html"
                    frameBorder="0" seamless="seamless" allowFullScreen>
            </iframe>
        {% endset %}

    {% endif %}


    {% if html is not empty %}
        {###
        #
        # SHOW PLAYER AND THUMBNAIL:
        #}

        {{ attach_library('uwmed/colorbox') }}

        <div class="uw-video-wrapper">
            <div class="v-player hidden">
                {{ html }}
            </div>
            <div class="v-thumbnail">
                <a href="#{{ uwm_field_uuid }}" class="colorbox launch-video">
                    {% if videoThumbnailUrl is not empty %}
                        <img src="{{ videoThumbnailUrl }}">
                        <i class="v-play-button fa svg-inline--fa fa-play-circle fa-w-16 fa-5x"></i>
                    {% else %}
                        {{ html }}
                    {% endif %}
                </a>
            </div>
        </div>

    {% else %}
        {###
        #
        # SHOW FIELD DEFAULTS:
        #}
        {% include 'field.html.twig' %}

    {% endif %}

{% endblock %}
