{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */

{% if label_hidden %}
    {% if multiple %}
        <div{{ attributes }}>
            {% for item in items %}
                <div{{ item.attributes }}>{{ item.content }}</div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <div{{ attributes }}>{{ item.content }}</div>
        {% endfor %}
    {% endif %}
{% else %}
    <div{{ attributes }}>
        <div{{ title_attributes }}>{{ label }}</div>
        {% if multiple %}
        <div>
            {% endif %}
            {% for item in items %}
                <div{{ item.attributes }}>{{ item.content }}</div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}

#}
{% set include_wrapper = include_wrapper ?: 'true' %}
{% set wrapper_element = wrapper_element ?: 'div' %}
{% set wrapper_classes = wrapper_classes ?: ['field', 'field--name-' ~ field_name|clean_class] %}
{% set item_element = item_element ?: 'div' %}
{% set item_classes = item_classes ? item_classes %}
{% set label_classes = ['field--label', label_display == 'visually_hidden' ? 'sr-only',] %}

{% set n = 0 %}

{% block content %}

    {% if include_wrapper == 'true' %}
        <{{ wrapper_element }}{{ attributes.addClass(wrapper_classes) }}>
    {% endif %}

    {% if not label_hidden %}
        <div{{ title_attributes.addClass(label_classes) }}>{{ label }}</div>
    {% endif %}

    {% for item in items %}
        {% set n = n+1 %}
        {% block item %}
            <{{ item_element }}{{ item.attributes.addClass(item_classes).addClass('item item-' ~ n) }}>
            <i class="hidden u-ips"></i>
            {{ item.content }}
            </{{ item_element }}>
        {% endblock item %}
    {% endfor %}

    {% if include_wrapper == 'true' %}
        </{{ wrapper_element }}>
    {% endif %}

{% endblock content %}