<div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        {{ content }}


        {#{{ devel_breakpoint() }}#}
        <div class="results-summary">

            <div class="search-all"><a>All results for <em>search</em> {% if uwm_total_rows %}({{ uwm_total_rows }}){% endif %}</a></div>
            <div class="search-providers"><a href="/search/providers">Find providers <em></em> &rsaquo;</a></div>
            <div class="search-locations"><a href="/search/locations">Find locations <em></em> &rsaquo;</a></div>
        </div>

    {% endblock %}
</div>

