{{ attach_library('uwmed/node--fact-page') }}
{{ attach_library('uwmed/uwm-toggle') }}


{% set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
]|merge(content.field_body_style_terms['#uwm_678891']['term_styles']) %}


{% set inner_sidebar = [
    content.field_sidebar_content_blocks,
    drupal_region('content_innner_sidebar') ? drupal_region('content_innner_sidebar') : []
] %}

{#{{  devel_breakpoint()  }}#}


<article{{ attributes.addClass(classes) }} data-node-id="{{ node.id }}">

    {% if content.field_top_content_blocks|render is not empty %}

        {% set t = content.field_top_content_blocks['#items']|uwm_arraycount_styles %}
        {% set t = t|uwm_join_parts(' ') %}

    <section class="row top-blocks {{ t }}">

        <div class="wrapper">

        {{ content.field_top_content_blocks_heading }}
        {{ content.field_top_content_blocks }}
        {{ content.field_top_content_blocks_footer‎ }}

        </div>

        </section>

        {% endif %}


        {% if content.field_content_blocks|render is not empty %}

        {% set t = [] %}
        {% set t = t|merge(content.field_content_blocks['#items']|uwm_arraycount_styles) %}
        {% set t = t|merge(content.field_content_blocks_style['#uwm_678891']['term_styles']) %}
        {% set t = t|uwm_join_parts(' ') %}

        <section class="row middle-blocks {{ t }}">

        <div class="wrapper">

            {{ content.field_content_blocks_heading }}
            {{ content.field_content_blocks }}
            {{ content.field_content_blocks_footer }}

        </div>

        </section>
    {% endif %}



    {% if content.body|render is not empty %}

        {% set t = [] %}
        {% set t = t|merge(['body-content','uwm-toggle']) %}
        {% set t = t|merge([body_summary is not empty ? 'with-summary']) %}
        {% set t = t|uwm_join_parts(' ') %}

        <section class="{{ t }}">

            <div class="col-xs-12">

                {% if inner_sidebar is not empty %}

                    <aside class="inner-sidebar col-sm-5 pull-right hidden-xs"
                           role="complementary">

                        {{ inner_sidebar }}

                    </aside>

                {% endif %}

                {#{{ devel_breakpoint() }}#}

                <div class="body-summary hidden">{{ body_summary|raw }}</div>

                {{ content.body }}

                <div class="uw-more hidden">
                    <a href="#" data-uwm-toggle
                       data-on-text="{{ 'View less'|t }}"
                       data-off-text="{{ 'View more'|t }}"
                       data-toggle-target=".body-content.uwm-toggle"
                       data-toggle-class="open">{{ 'View more'|t }}
                        <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                </div>

                {{ content.field_link }}

            </div>

        </section>

    {% endif %}

    {#
    Repeat sidebar for mobile:
    #}
    {% if inner_sidebar is not empty %}

        <section class="row inner-sidebar visible-xs" role="complementary">

            <div class="wrapper">

                {{ inner_sidebar }}

            </div>

        </section>

    {% endif %}


    {% if content.field_bottom_content_blocks|render is not empty %}

        {% set t = content.field_content_blocks['#items']|uwm_arraycount_styles %}
        {% set t = t|uwm_join_parts(' ') %}

        <section class="row bottom-blocks {{ t }}">

            <div class="wrapper">

                {{ content.field_bottom_content_blocks_head }}
                {{ content.field_bottom_content_blocks }}

            </div>

        </section>

    {% endif %}


</article>
