{% set map_api_key = 'AIzaSyC8H18N4yUJDtUDaR9eMpXiqndLwWfd_hQ' %}
{% set map_query =
    (_cli.clinicName ~ ',' ~ _cli.address ~','
    ~ _cli.city ~ ',' ~_cli.state ~ ' ' ~_cli.zipcode) |trim |url_encode
%}


<div class="col-xs-12 col-md-5 directions-info-wrapper">

    <ul class="nav nav-tabs" role="tablist">

        {% set class =_cli.location.additionalInfo is empty ? 'disabled' : '' %}
        {% set tab =_cli.location.additionalInfo is empty ? '#' : '#directions-main' %}
        <li role="presentation" class="{{ class }}">
            <a href="{{ tab }}" role="tab" data-toggle="tab">

                <i class="uw-ico uw-ico-dir-place"></i>
            </a>
        </li>

        {% set class =_cli.location.drivingDirections is empty ? 'disabled' : '' %}
        {% set tab =_cli.location.drivingDirections is empty ? '#' : '#directions-auto' %}
        <li role="presentation" class="{{ class }}">
            <a href="{{ tab }}" role="tab" data-toggle="tab">

                <i class="uw-ico uw-ico-dir-auto"></i>

            </a>
        </li>

        {% set class =_cli.location.busDirections is empty ? 'disabled' : '' %}
        {% set tab =_cli.location.busDirections is empty ? '#' : '#directions-public' %}
        <li role="presentation" class="{{ class }}">
            <a href="{{ tab }}" role="tab" data-toggle="tab">

                <i class="uw-ico uw-ico-dir-public"></i>

            </a>
        </li>

        {% set class =_cli.location.parkingDirections is empty ? 'disabled' : '' %}
        {% set tab =_cli.location.parkingDirections is empty ? '#' : '#directions-parking' %}
        <li role="presentation" class="{{ class }}">
            <a href="{{ tab }}" role="tab" data-toggle="tab">

                <i class="uw-ico uw-ico-dir-parking"></i>
            </a>
        </li>

        <li role="presentation" class="disabled">
            <a href="#directions-biking" role="tab" data-toggle="tab">

                <i class="uw-ico uw-ico-dir-biking"></i>

            </a>
        </li>


        {% set class =_cli.location.accessibilityNotes is empty ? 'disabled' : '' %}
        {% set tab =_cli.location.accessibilityNotes is empty ? '#' : '#directions-walking' %}
        <li role="presentation" class="{{ class }}">
            <a href="{{ tab }}" role="tab" data-toggle="tab">

                <i class="uw-ico uw-ico-dir-walking"></i>

            </a>
        </li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="directions-main">
            {{ _cli.location.additionalInfo|raw }}
        </div>

        <div role="tabpanel" class="tab-pane" id="directions-auto">
            {{ _cli.location.drivingDirections|raw }}
        </div>

        <div role="tabpanel" class="tab-pane" id="directions-public">
            {{ _cli.location.busDirections|raw }}
        </div>

        <div role="tabpanel" class="tab-pane" id="directions-parking">
            {{ _cli.location.parkingDirections|raw }}
        </div>

        <div role="tabpanel" class="tab-pane" id="directions-biking">
        </div>

        <div role="tabpanel" class="tab-pane" id="directions-walking">
            {{ _cli.location.accessibilityNotes|raw }}
        </div>


    </div>

</div>


<div class="col-xs-12 col-md-7 directions-map-wrapper">

    <div class="map">

        <iframe src="https://www.google.com/maps/embed/v1/place?key={{ map_api_key }}&q={{ map_query }}"
                width="800" height="600" frameborder="0" style="border:0"
                allowfullscreen></iframe>

        {#<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10532.572935125596!2d-122.91114763022459!3d48.70274320000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54858fa349c5a55d%3A0x40682082f3224313!2sUW+Medicine+Orcas+Island+Clinic!5e0!3m2!1sen!2sus!4v1516409862407"#}
        {#width="800" height="600" frameborder="0" style="border:0"#}
        {#allowfullscreen></iframe>#}

        {#<iframe src="https://www.google.com/maps/d/embed?mid=1wUx8i9_Yn0Ok7PCZHLKwtAzUh7cdKkzu" width="640" height="480"></iframe>#}

    </div>


</div>


