{#
/**
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

{{ attach_library('uwmed/medical-service') }}
{{ attach_library('uwmed/googlemaps') }}
{{ attach_library('uwmed/uwm-toggle') }}
{{ attach_library('uwmed/bootstrap-tab-history') }}
{{ attach_library('uwmed/patient-care-video') }}


{% set urgent_care_clinics = node.uwmcms_reader_urgent_care_clinics %}
{% set primary_care_clinics = node.uwmcms_reader_primary_care_clinics %}

<article{{ attributes.addClass(classes) }}>
  <section>
    <div class="medical-service-hero">
      <div class="medical-service-hero__background full-width-image"
           style="background-image: url({{ node.field_image.entity.uri.value | image_style('hero') }})"></div>
      <div class="container container-lg">
        <div class="row">
          <div class="medical-service-hero__content col-lg-7">
            <h1 class="medical-service-hero__heading">{{ label }}</h1>
            <img class="hero__angle-divider hidden-lg"
                 src="{{ file_url('themes/custom/uwmed/dist/assets/hero-angle-lines.png') }}"
                 alt=""/>
            {{ content.field_subheading }}
          </div>
          <div
            class="medical-service-hero__links-with-icon__desktop col-lg-3 visible-lg">
            {{ content.field_links_with_icon }}
          </div>
        </div>
      </div>
    </div>

    <div class="medical-service-hero__links-with-icon hidden-lg"> {# row #}
      {{ content.field_links_with_icon }}
    </div>


  </section>

  <section class="medical-service-tabs"> {# row #}
    <div class="container container-lg">
      <div class="row">
        <ul class="nav nav-tabs uwm-nav-tabs col-xs-12" id="navTabs" role="tablist">
          <li role="presentation" class="active"><a href="#approach"
                                                    id="approach-tab"
                                                    role="tab" data-toggle="tab"
                                                    aria-controls="approach"
                                                    aria-expanded="true"
                                                    data-tab-history="true"
                                                    data-tab-history-changer="push"
                                                    data-tab-history-update-url="true">
              <i class="uw-ico heart"
                 aria-hidden="true"></i> {{ 'Our Approach'|t }}

            </a>
          </li>
          <li role="presentation"><a href="#resources"
                                     role="tab"
                                     id="resources-tab"
                                     data-toggle="tab"
                                     aria-controls="resources"
                                     aria-expanded="false"
                                     data-tab-history="true"
                                     data-tab-history-changer="push"
                                     data-tab-history-update-url="true">
              <i class="uw-ico heart"
                 aria-hidden="true"></i> {{ 'Patient Resources'|t }}

            </a>
          </li>
          <li role="presentation"><a href="#carenow"
                                     role="tab"
                                     id="carenow-tab"
                                     data-toggle="tab"
                                     aria-controls="carenow"
                                     aria-expanded="false"
                                     data-tab-history="true"
                                     data-tab-history-changer="push"
                                     data-tab-history-update-url="true">
              <i class="uw-ico heart"
                 aria-hidden="true"></i> {{ 'Get Care Now'|t }}

            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade active in" role="tabpanel"
           id="approach"
           aria-labelledby="approach-tab">

        <div class="container container-lg">
          <h2>{{ 'Let us get to know you.'|t }}</h2>
          <div class="row">
            {{ content.field_proof_points }}
          </div>
        </div>


        <div class="medical-service__common-services uwm-toggle col-xs-12">
          <div class="container container-lg">
            <h2>{{ 'Some of our common services:'|t }}</h2>
            <div class="row">
              {{ content.field_common_services }}

              <div class="uw-more">
                <a href="#"
                   data-uwm-toggle
                   data-on-text="{{ 'View less'|t }}" data-off-text="{{ 'View more'|t }}"
                   data-toggle-selector=".medical-service__common-services ul li"
                   data-toggle-style="on"
                   data-parent-selector=".medical-service__common-services.uwm-toggle"
                   data-parent-style="on">{{ 'View more'|t }}
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a></div>


            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="row">
            {{ content.field_feature_story }}
          </div>

          <div class="find-a-location container">
            <div class="row-lg">
              <div class="find-a-location__heading col-xs-12">
                <h2 class="h3">{{ 'Find a local location'|t }}</h2>
                {% include '@uwmed/accents/uwmed-slant.twig' %}
              </div>
            </div>

            <div class="row-lg">
              <div class="find-a-location__content col-lg-6">
                <h3 class="h2">{{ 'Convenient care in your neighborhood, near your
                  job or online.'|t }}</h3>
                <ul class="links-with-icon__list list-unstyled">
                  <li class="links-with-icon__item">
                    {% spaceless %}
                      <a class="btn btn-default" href="/search/locations#k=primary%20care">
                        <i class="hidden u-ips"></i>
                        {{ 'Find a location'|t }}
                        <span class="fa fa-angle-right fa-fw fa-lg"
                              aria-hidden="true"></span>
                      </a>
                    {% endspaceless %}
                  </li>
                  <li class="links-with-icon__item">
                    {% spaceless %}
                      <a class="btn btn-default" href="#carenow-tab">
                        <i class="hidden u-ips"></i>
                        {{ 'Urgent care'|t }}
                        <span class="fa fa-angle-right fa-fw fa-lg"
                              aria-hidden="true"></span>
                      </a>
                    {% endspaceless %}
                  </li>
                  <li class="links-with-icon__item">
                    {% spaceless %}
                      <a class="btn btn-default" href="/locations/virtual-clinic">
                        <i class="hidden u-ips"></i>
                        {{ 'Virtual clinic'|t }}
                        <span class="fa fa-angle-right fa-fw fa-lg"
                              aria-hidden="true"></span>
                      </a>
                    {% endspaceless %}
                  </li>
                </ul>
              </div>

              <div class="col-lg-6">
                <div class="find-a-location__map" id="locationMap"></div>
                <div class="find-a-location__controls">
                  <div class="find-a-location__clinic-info" style="display: none;"></div>

                  <p class="find-a-location__clinic-list__view-all btn btn-default" id="viewAllLocations"><span id="label">List All Locations</span> <span id="arrow" class="fa fa-angle-down fa-fw fa-lg" aria-hidden="true"></span></p>
                </div>
              </div>
                <div class="find-a-location__clinic-list" style="display: none;">
                  {% for clinic in primary_care_clinics %}
                    {% set phone = clinic.seoPhone|slice(0, 3)
                    ~'-'~ clinic.seoPhone|slice(3, 3)
                    ~'-'~ clinic.seoPhone|slice(6, 4) %}

                    {% set url = clinic.clinicUrl ? clinic.clinicUrl : clinic.externalUrl %}
                    <div class="find-a-location__clinic col-lg-6" data-index='{{ loop.index0 }}'>
                      <address>
                        <h4 class="h5">{{ clinic.name }}</h4>
                        <p>{{ clinic.address }}, {{ clinic.city }}, {{ clinic.state }} {{ clinic.zipcode }}
                        /
                        <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a></p>
                      </address>
                      <p><a class="btn btn-default" href="{{ url }}">
                          <i class="hidden u-ips"></i>
                          View<span class="sr-only"> {{ clinic.name }}</span> Clinic Information</a></p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        <div class="featured-specialties uwm-toggle col-xs-12">
          <div class="container container-lg">
            <h2>{{ 'Coordinating your care with world-class specialists.'|t }}</h2>
            {{ content.field_featured_specialties }}

            <div class="uw-more">
              <a href="#"
                 data-uwm-toggle
                 data-on-text="{{ 'View less'|t }}" data-off-text="{{ 'View more'|t }}"
                 data-toggle-selector=".featured-specialties ul li"
                 data-toggle-style="on"
                 data-parent-selector=".featured-specialties.uwm-toggle"
                 data-parent-style="on">{{ 'View more'|t }}
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a></div>


          </div>
        </div>


        <div class="patient-engagement col-xs-12">
          <div class="patient-engagement__wrapper container">
            <div class="row">
              <div class="quiz col-md-6 col-lg-12">
                <div class="col-lg-9">
                  <h2 class="h3">{{ 'Did you know?'|t }}</h2>
                  {% include '@uwmed/accents/uwmed-slant.twig' %}
                </div>

                <div class="all-quizzes col-lg-3 visible-lg">
                  <p><a
                      href="http://healthlibrary.uwmedicine.org/InteractiveTools/Quizzes/">{{ 'See
                      all quizzes'|t }} &nbsp;<span class="fa fa-angle-right"
                                              aria-hidden="true"></span> </a>
                  </p>
                </div>
                <div class="col-lg-6" id="slickQuiz">
                  <h3 class="h4 quizName"><!-- where the quiz name goes --></h3>

                  <div class="quizArea">
                    <div class="quizHeader">
                      <!-- where the quiz main copy goes -->

                      <a class="button startQuiz" href="#">
                        <i class="hidden u-ips"></i>{{ 'Get Started'|t }}</a>
                    </div>
                    <!-- where the quiz gets built -->
                  </div>

                  <div class="quizResults">
                    <h4 class="quizScore">{{ 'You Scored:'|t }} <span><!-- where the quiz score goes --></span>
                    </h4>

                    <h4 class="quizLevel"><strong>{{ 'Ranking:'|t }}</strong> <span><!-- where the quiz ranking level goes --></span>
                    </h4>

                    <div class="quizResultsCopy">
                      <!-- where the quiz result copy goes -->
                    </div>
                  </div>
                </div>
                <div class="all-quizzes col-md-12 hidden-lg">
                  <p><a
                      href="http://healthlibrary.uwmedicine.org/InteractiveTools/Quizzes/">{{ 'See
                      all quizzes'|t }} &nbsp;<span class="fa fa-angle-right"
                                              aria-hidden="true"></span> </a>
                  </p>
                </div>

                <div class="quizPhoto col-lg-5 col-lg-offset-1 visible-lg">
                  <img class="img img-responsive hidden-xs"
                       src="/themes/custom/uwmed/dist/assets/back-pain-quiz-image.png"
                       alt=""/>
                </div>
              </div>
              {#<div#}
                {#class="featured-provider col-lg-3 col-md-5 col-md-push-1 col-lg-push-0"#}
                {#style="background-image: url('https://via.placeholder.com/300x150');">#}
                {#<h2 class="h3">New Provider</h2>#}
                {#{% include '@uwmed/accents/uwmed-slant.twig' %}#}

                {#<div class="featured-provider__content">#}
                  {#<h3 class="h4">Welcome</h3>#}
                  {#<p>Lorem ipsum dolor sit amet, consectetur, adipiscing elit,#}
                    {#sed</p>#}
                  {#<p><a class="btn btn-outline">Read More</a></p>#}
                {#</div>#}

              {#</div>#}
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" role="tabpanel"
           id="resources" aria-labelledby="resources-tab">

        {% include 'node--uwm-medical-service.patient-resources.html.twig' %}

      </div>

      <div class="tab-pane fade" role="tabpanel" id="carenow"
           aria-labelledby="carenow-tab">

        {% include 'node--uwm-medical-service.care-now.html.twig' %}

      </div>
    </div>

    <div id="condition-spotlight" class="condition-spotlight">
      {{ content.field_condition_spotlight }}
    </div>
  </section>
</article>
