{% set bios = [] %}

{% for h,i in _cli.careNetworks %}
    {% for j,k in i.bioInformations %}
        {% set bios = bios|merge({ (j): k }) %}
    {% endfor %}
{% endfor %}


<p>{{ "@count provider@s" | t({'@count': bios|length,
        '@s': (bios|length != 1 ? 's': '')}) }}</p>

<div class="row">

    {% for bio in bios %}

        {% set title = bio.fullName %}
        {% set href = '/bios/'~ bio.friendlyUrl %}
        {% set profileImg = ('noimage.jpg' in bio.bioImageUrl) ?
        '/' ~ directory ~ '/dist/assets/provider-silhouette.jpg' : bio.bioImageUrl %}


        {% set loopClasses = [
        loop.index is odd ? 'even' : 'odd',
        'loop-'~ loop.index,
        loop.first ? 'loop-first' : '',
        loop.last ? 'loop-last' : '',
        loop.index == loop.length-1 ? 'loop-last-1' : '' ] %}

        <div class="provider col-xs-12 col-sm-6 {{ loopClasses|uwm_join_parts(' ') }}">

            <div class="wrapper">

                <div class="profile-image">
                    {% set image = uwm_render_remote_image(profileImg, 'portrait_small') %}
                    <img src="{{ image['#uri'] }}" class="img-thumbnail">
                    {# @TODO: Add responsive image cutdown. #}
                </div>

                <div class="profile-details">

                    <h4><a href="{{ href }}">{{ title }}</a></h4>

                    <div class="accepting-apts">
                        {% if bio.acceptingAppointments %}
                            <i class="fa fa-check-circle"
                               aria-hidden="true"></i>
                            {{ "Accepting new patients"| t }}
                        {% else %}
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{ "Not accepting patients"| t }}
                        {% endif %}
                    </div>

                    <div class="specialities s-{{ bio.id }}">

                        {% set specialities = uwm_extract_parts(bio, 'expertiseName') %}
                        {% if specialities %}
                            <p><strong>{{ "Specialities"| t }}: </strong><br>
                                {% for i in specialities %}

                                    {% if loop.index > 3 %}
                                        <i class="collapse">
                                            {% if not loop.first %}
                                                |
                                            {% endif %}
                                            {{ i }}</i>
                                    {% else %}
                                        {% if not loop.first %}
                                            |
                                        {% endif %}
                                        {{ i }}
                                    {% endif %}

                                {% endfor %}

                                {% if specialities|length > 3 %}
                                    <i class="toggle" data-toggle="collapse"
                                       data-target=".s-{{ bio.id }} .collapse">...</i>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>


                </div>

                <div class="accepting-apts-cta">
                    {% if bio.acceptingAppointments %}
                        <a class="btn btn-default"
                           href="/patient-care/making-an-appointment">
                            <i class="u-ips"></i> {{ "Request Appointment"|t }}
                        </a>
                    {% else %}
                        <a class="btn btn-default disabled" href="#">
                            <i class="u-ips"></i> {{ "Request Appointment"|t }}
                        </a>

                    {% endif %}
                </div>


            </div>


        </div>
    {% endfor %}
</div>
