{% extends 'node--uwm-medical-specialty.html.twig' %}
{% set map_clinics = node.uwmcms_reader_map_clinics %}
{% set urgent_care_clinics = node.uwmcms_reader_urgent_care_clinics %}
{% set first_uc_clinic = node.uwmcms_reader_uc_clinic %}
{% import directory ~'/templates/node/node--uwm-clinic.hours.html.twig' as _hoursMacro %}

{% block libraries %}
  {{ attach_library('uwmed/googlemaps') }}
  {{ attach_library('uwmed/uwm-toggle') }}
{% endblock libraries %}

{% block hero %}
  <section>
    <div class="medical-service-hero">
      <div class="medical-service-hero__background full-width-image"
           style="background-image: url({{ node.field_image.entity.uri.value | image_style('hero') }})"></div>
      <div class="container container-lg">
        <div class="row">
          <div class="medical-service-hero__content col-lg-7">
            <h1 class="medical-service-hero__heading">{{ label }}</h1>
            <img class="hero__angle-divider hidden-lg"
                 src="{{ file_url('themes/custom/uwmed/dist/assets/hero-angle-lines.png') }}"
                 alt=""/>
            {{ content.field_subheading }}
          </div>
          <div class="urgent-care-hours-desktop hidden-xs hidden-sm hidden-md">
            {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}
            {% set urgentCareTimes = first_uc_clinic.clinicTimeUseMasters[0].hoursOfOperation %}
            {% if urgentCareTimes %}

              <div class="col-md-11  clinic-hours-table urgent-care">

                <div class="intro">
                  {{  _hoursMacro.uwOpensNextSnippet(urgentCareTimes, FALSE) }}

                </div>


                <div class="wrapper collapse-mobile" id="urgentCareTimes">
                  <p class="hours-header h5">Urgent Care Clinic Hours</p>
                  <ul>

                    {% for n,day in days %}
                      {% set timeExists = false %}

                      <li>

                        {% for s in urgentCareTimes %}
                          {% if s.dayOfWeek == n %}

                            {% set timeExists = true %}
                            <span class="day">{{ day }}</span>
                            <span class="hours"><span>

                                        {{ "@start - @end"
                                        |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                          '@end': s.endTime|date ('g:ia')|trim('m')
                                        }) }}
                                    </span></span>

                          {% endif %}
                        {% endfor %}
                        {% if not timeExists %}

                          <span class="day">{{ day }}</span>
                          <span class="hours"><span>{{ "Closed"|t }}</span></span>

                        {% endif %}

                      </li>

                    {% endfor %}

                  </ul>
                </div>

              </div>

            {% endif %}
          </div>
        </div>
      </div>
        <div class="medical-specialty__back-button col-md-12">
            <a href="{{ content.field_medical_service.0["#url"] }}"><i class="fa fa-angle-left"></i> Back to {{ content.field_medical_service.0["#title"] }}
                <i class="right-border-angle hidden-xs" aria-hidden="true"></i>
            </a>
        </div>
    </div>


    {#<div class="row">#}
      {#<div class="medical-specialty__back-button col-md-12">#}
        {#<a href="{{ content.field_medical_service.0["#url"] }}"><i class="fa fa-angle-left"></i> Back to {{ content.field_medical_service.0["#title"] }}#}
          {#<i class="right-border-angle hidden-xs" aria-hidden="true"></i>#}
        {#</a>#}
      {#</div>#}
    {#</div>#}
  </section>
{% endblock hero %}

{% block custom_content %}

  <div class="urgent-care-hours hidden-lg">
    {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}
    {% set urgentCareTimes = first_uc_clinic.clinicTimeUseMasters[0].hoursOfOperation %}
    {% if urgentCareTimes %}

      <div class="col-xs-12  clinic-hours-table urgent-care">

        <div class="intro">
          <h2 class="h4">
            <a role="button" data-toggle="collapse"
               href="#urgentCareTimesMobile"
               aria-expanded="false"
               aria-controls="urgentCareTimesMobile">
              {{ "URGENT CARE:"|t }}
              {{  _hoursMacro.uwOpensNextSnippet(urgentCareTimes, TRUE) }}

              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>

          </h2>
        </div>


        <div class="wrapper collapse" id="urgentCareTimesMobile">
          <p class="hours-header h5">Urgent Care Clinic Hours</p>
          <ul class="col-sm-6 col-md-4">

            {% for n,day in days %}
              {% set timeExists = false %}

              <li>

                {% for s in urgentCareTimes %}
                  {% if s.dayOfWeek == n %}

                    {% set timeExists = true %}
                    <span class="day">{{ day }}</span>
                    <span class="hours"><span>

                                        {{ "@start - @end"
                                        |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                          '@end': s.endTime|date ('g:ia')|trim('m')
                                        }) }}
                                    </span></span>

                  {% endif %}
                {% endfor %}
                {% if not timeExists %}

                  <span class="day">{{ day }}</span>
                  <span class="hours"><span>{{ "Closed"|t }}</span></span>

                {% endif %}

              </li>

            {% endfor %}

          </ul>
        </div>

      </div>

    {% endif %}
  </div>
  {% include 'node--uwm-medical-service.care-now.html.twig' %}
  {% include 'node--uwm-medical-service.location-map__urgent-care.html.twig' %}


{% endblock custom_content %}

