{{ attach_library('uwmed/clinic-hours') }}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Urgent Care and Virtual Clinic &mdash; help when and where you
                need it.</h2>

            <p class="care-now__intro">Can't get in for a same-day appointment?
                UW Medicine urgent care clinics are open for walk-ins 7 days a
                week with locations throughout the Puget Sound region. Virtual
                Clinic is available online 24/7.</p>
        </div>
    </div>
    <div class="row">
        {#{{ devel_breakpoint() }}#}

        {% for clinic in urgent_care_clinics %}
            {% set clinicNid = uwm_get_api_nid(clinic.url) %}

                {% if clinicNid %}
                    {{ drupal_entity('node', clinicNid, 'card_display') }}
                {% endif %}

        {% endfor %}
    </div>
</div>


<div class="virtual-clinic col-xs-12"
     style="background-image: url('{{ file_url("/themes/custom/uwmed/dist/assets/virtual-clinic-woman-laptop.jpg") }}'); background-position: center;">
    <div class="container-lg">
        <div class="row">
            <div class="virtual-clinic__title col-md-offset-6 col-md-6">
                <h2 class="h3">Virtual Clinic</h2>
                <span class="uwmed-slant"><span></span></span>
            </div>
            <div class="virtual-clinic__content col-md-offset-6 col-md-6">
                <p class="h2">UW Medicine Virtual Clinic</p>
                <p class="virtual-clinic__subheading">
                    Prescriptions and on-call care, available day and night,
                    from the comfort of your breakfast table to the edge of the
                    bunk bed. No appointments necessary, no hidden fees, some
                    insurance accepted.
                </p>
                <p class="h4">$35 per visit</p>
                <p class="virtual-clinic__cta"><a
                            class="virtual-clinic__link btn btn-default"
                            href="/locations/virtual-clinic">
                        <i class="hidden u-ips"></i>
                        {{ 'Get Care Now'|t }}
                    </a></p>
            </div>
        </div>

    </div>
</div>
