{% set map_api_key = 'AIzaSyC8H18N4yUJDtUDaR9eMpXiqndLwWfd_hQ' %}
{% set map_query =
    (_cli.clinicName ~ ',' ~ _cli.address ~','
    ~ _cli.city ~ ',' ~_cli.state ~ ' ' ~_cli.zipcode) |trim |url_encode
%}


<div class="col-xs-12 col-md-5 directions-info-wrapper">

    <ul class="nav nav-tabs" role="tablist">

        {% if _cli.location.additionalInfo %}
        <li role="presentation" class="{{ class }}">
            <a href="#directions-main" role="tab" data-toggle="tab">
                <i class="uw-ico uw-ico-dir-place"></i>
            </a>
        </li>
        {% endif %}

        {% if _cli.location.drivingDirections %}
        <li role="presentation" class="{{ class }}">
            <a href="#directions-auto" role="tab" data-toggle="tab">
                <i class="uw-ico uw-ico-dir-auto"></i>
            </a>
        </li>
        {% endif %}

        {% if _cli.location.busDirections %}
        <li role="presentation" class="{{ class }}">
            <a href="#directions-public" role="tab" data-toggle="tab">
                <i class="uw-ico uw-ico-dir-public"></i>
            </a>
        </li>
        {% endif %}

        {% if _cli.location.parkingDirections %}
        <li role="presentation" class="{{ class }}">
            <a href="#directions-parking" role="tab" data-toggle="tab">
                <i class="uw-ico uw-ico-dir-parking"></i>
            </a>
        </li>
        {% endif %}

        {#<li role="presentation" class="disabled">#}
            {#<a href="#directions-biking" role="tab" data-toggle="tab">#}
                {#<i class="uw-ico uw-ico-dir-biking"></i>#}
            {#</a>#}
        {#</li>#}

        {% if _cli.location.accessibilityNotes %}
        <li role="presentation" class="{{ class }}">
            <a href="#directions-walking" role="tab" data-toggle="tab">
                <i class="uw-ico uw-ico-dir-walking"></i>
            </a>
        </li>
        {% endif %}

    </ul>

    <div class="tab-content">

        {% if _cli.location.additionalInfo %}
        <div role="tabpanel" class="tab-pane active" id="directions-main">
            {{ _cli.location.additionalInfo|raw }}
        </div>
        {% endif %}

        {% if _cli.location.drivingDirections %}
        <div role="tabpanel" class="tab-pane active" id="directions-auto">
            {{ _cli.location.drivingDirections|raw }}
        </div>
        {% endif %}

        {% if _cli.location.busDirections %}
        <div role="tabpanel" class="tab-pane active" id="directions-public">
            {{ _cli.location.busDirections|raw }}
        </div>
        {% endif %}

        {% if _cli.location.parkingDirections %}
        <div role="tabpanel" class="tab-pane active" id="directions-parking">
            {{ _cli.location.parkingDirections|raw }}
        </div>
        {% endif %}

        {% if _cli.location.accessibilityNotes %}
        <div role="tabpanel" class="tab-pane active" id="directions-walking">
            {{ _cli.location.accessibilityNotes|raw }}
        </div>
        {% endif %}


    </div>

</div>


<div class="col-xs-12 col-md-7 directions-map-wrapper">

    <div class="map">

        <iframe src="https://www.google.com/maps/embed/v1/place?key={{ map_api_key }}&q={{ map_query }}"
                width="800" height="600" frameborder="0" style="border:0"
                allowfullscreen></iframe>

        {#<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10532.572935125596!2d-122.91114763022459!3d48.70274320000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54858fa349c5a55d%3A0x40682082f3224313!2sUW+Medicine+Orcas+Island+Clinic!5e0!3m2!1sen!2sus!4v1516409862407"#}
        {#width="800" height="600" frameborder="0" style="border:0"#}
        {#allowfullscreen></iframe>#}

        {#<iframe src="https://www.google.com/maps/d/embed?mid=1wUx8i9_Yn0Ok7PCZHLKwtAzUh7cdKkzu" width="640" height="480"></iframe>#}

    </div>


</div>


