{{ attach_library('uwmed/clinic-nodes') }}
{{ attach_library('uwmed/clockwise-wait-times') }}

{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

{% set _cli = node.uwmcs_reader_api_values %}

{% set phone = _cli.seoPhone|slice(0, 3)
~'-'~ _cli.seoPhone|slice(3, 3)
~'-'~ _cli.seoPhone|slice(6, 4) %}

<article{{ attributes.addClass(classes) }}>

    <section class="remove-padding clinic-header">

        <div class="visible-xs-block m-head">

            <div class="col-xs-12 remove-padding m-image">
                {{ content.field_clinic_image }}
                <h1{{ title_attributes }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h1>
            </div>
            <div class="col-xs-12 m-hours">
                {% include directory ~'/templates/node/node--uwm-clinic.hours.html.twig' %}
            </div>
            <div class="col-xs-12 m-address">
                <address>{{ _cli.address }},
                    {{ _cli.city }},
                    {{ _cli.state }}
                    {{ _cli.zipcode }} <i class="uw-s"></i>
                    <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a>
                </address>
            </div>
        </div>

        <div class="col-sm-4 left">
            <div class="col-xs-12 hidden-xs clinic-image remove-padding">
                {{ content.field_clinic_image }}
                {#<pre>{{ dump(content.field_clinic_image) }}</pre>#}
                {#1. {{ content.field_clinic_image }}#}
                {#2. <img class="swiper-image" src="{{ file_url(node.field_slides[key].entity.uri.value) }}" alt="{{ node.field_slides[key].alt  }}" />#}
                {#3. {{ content.field_clinic_image[key].entity.uri.value | image_style('Large') }}#}
            </div>
            <div class="col-xs-12 l">

                <a href="#directions-tab"
                   role="tab"
                   data-toggle="tab"
                   aria-controls="directions-tab"
                   aria-expanded="false">
                    {{ 'Driving Directions'|t }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>

            </div>

            <div class="col-xs-12 l ll">

                <a href="/patient-care/making-an-appointment">{{ "Make an Appointment"|t }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>


            </div>
            {#{{ devel_breakpoint() }}#}
            {% set _c = "" %}
            {% if content.field_clinic_wait_time_snippet|render is empty %}
                {% set _c = "clockwise-js-visibility" %}
            {% elseif 'none' in content.field_clinic_wait_time_snippet|render|render %}
                {% set _c = "hidden" %}
            {% endif %}

            <div class="col-xs-12 get-in-line {{ _c }}">
                <h4>{{ "Urgent Care"|t }}
                    <a href="/patient-care/making-an-appointment">Get in line<i class="fa fa-angle-right"
                                              aria-hidden="true"></i>
                    </a></h4>
                {% if content.field_clinic_wait_time_snippet|render is not empty %}
                    {{ content.field_clinic_wait_time_snippet }}
                {% else %}
                    <p class="wait">
                        <span class="m">20</span> minutes wait
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-8 hidden-xs right">

            <div class="col-sm-12 title">
                {{ title_prefix }}
                <h1{{ title_attributes }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h1>
                {{ title_suffix }}

                <address>{{ _cli.address }},
                    {{ _cli.city }},
                    {{ _cli.state }}
                    {{ _cli.zipcode }} <i class="uw-s"></i>
                    <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a>

                </address>
            </div>

            <div class="col-xs-12 remove-padding clinic-hours-container">

                {% include directory ~'/templates/node/node--uwm-clinic.hours.html.twig' %}

            </div>

            <div class="col-sm-12 foot">
                <div class="u-911">
                    <i class="fa u-911i"></i>
                    {{ drupal_entity('block_content', 6) }}
                </div>
            </div>
        </div>


    </section>

    <section class="clinic-tabs">

        <ul class="nav nav-tabs uwm-nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active"><a href="#main-tab"
                                                      role="tab"
                                                      data-toggle="tab"
                                                      aria-controls="main-tab"
                                                      aria-expanded="true">
                    <i class="uw-ico heart" aria-hidden="true"></i>
                    {{ 'Services & Resources'|t }}

                </a>
            </li>
            <li role="presentation"><a href="#directions-tab"
                                       role="tab"
                                       data-toggle="tab"
                                       aria-controls="directions-tab"
                                       aria-expanded="false">
                    <i class="uw-ico heart" aria-hidden="true"></i>
                    {{ 'Directions/ Parking'|t }}

                </a>
            </li>
            <li role="presentation"><a href="#providers-tab"
                                       role="tab"
                                       data-toggle="tab"
                                       aria-controls="providers-tab"
                                       aria-expanded="false">
                    <i class="uw-ico heart" aria-hidden="true"></i>
                    {{ 'Care Providers'|t }}

                </a>
            </li>
        </ul>

        <div class="tab-content uwm-tab-content">

            <div class="row tab-pane main-tab active in" role="tabpanel"
                 id="main-tab" aria-labelledby="main-tab">
                <a name="main" id="main"></a>

                <section class="services">
                    <h3 class="accent">Services</h3>

                    <h2 class="leader">{{ "This clinic offers primary and urgent care, including:"|t }}</h2>

                    <ul>
                        {#{% for s in _cli.services %}#}
                            {#<li>#}
                                {#<i class="uw-ico checkmark"#}
                                   {#aria-hidden="true"></i>#}
                                {#{{ s.serviceName|t }}</li>#}
                        {#{% endfor %}#}
                        {% for s in _cli.expertises %}
                            <li>
                                <i class="uw-ico checkmark"
                                   aria-hidden="true"></i>
                                {{ s.expertiseName|t }}</li>
                        {% endfor %}
                    </ul>

                    {#<div class="view-more"><a href="#">View More <i#}
                    {#class="fa fa-angle-down"#}
                    {#aria-hidden="true"></i></a></div>#}

                </section>

                {% if content.field_content_blocks |render is not empty %}
                    <section class="clinic-paragraphs">
                        <div class="bg"></div>

                        {% if content.field_content_blocks_heading|render is not empty %}
                            <h2 class="bi-line"> {{ content.field_content_blocks_heading }}</h2>
                        {% endif %}

                        {{ content.field_content_blocks }}

                    </section>
                {% endif %}

                {% if content.body |render is not empty %}

                    <section class="clinic-body">

                        <div class="col-xs-12">
                            <h3 class="accent">{{ "Clinic Overview"|t }}</h3>

                            <div{{ content_attributes.addClass('content') }}>
                                {{ content.body }}
                                {#{{ content }}#}
                            </div>
                        </div>

                    </section>
                {% endif %}


            </div>

            <div class="row tab-pane directions-tab" role="tabpanel"
                 id="directions-tab" aria-labelledby="directions-tab">
                <a name="directions" id="directions"></a>

                <div class="col-xs-12">
                    <h3 class="accent">Directions & Parking</h3>

                    {% include directory ~'/templates/node/node--uwm-clinic.directions.html.twig' %}
                </div>

            </div>

            <div class="row tab-pane providers-tab" role="tabpanel"
                 id="providers-tab" aria-labelledby="providers-tab">
                <a name="providers" id="providers"></a>

                <div class="col-xs-12">
                    <h3 class="accent">Care Providers</h3>

                    {% include directory ~'/templates/node/node--uwm-clinic.providers.html.twig' %}
                </div>

            </div>
        </div>


    </section>


    {% if content.field_bottom_content_blocks |render is not empty %}
        <section class="clinic-foot-paragraphs">

            <div class="col-xs-12">
                {% if content.field_bottom_content_blocks_head|render is not empty %}
                    <h2 class="bi-line"> {{ content.field_bottom_content_blocks_head }}</h2>
                {% endif %}

                <div class="col-xs-12">
                    {{ content.field_bottom_content_blocks }}
                </div>
            </div>

            {#<div class="view-more hidden"><a href="#">View More <i#}
            {#class="fa fa-angle-down"#}
            {#aria-hidden="true"></i></a>#}
            {#</div>#}

        </section>
    {% endif %}

    {#<pre>{{ dump(_cli) }}</pre>#}

</article>
