{{ attach_library('uwmed/clinic-hours') }}

{% import directory ~'/templates/node/node--uwm-clinic.hours.html.twig' as _clinicHours %}

<div class="row">

    {% for clinic in locations %}


        <div class="col-xs-12 col-xl-6 provider-location">

            <div class="col-xs-12 col-sm-5 location-image">
                <img src="{{ clinic.externalUrl|replace({'http://': 'https://'}) ~ '/PublishingImages/splash1.jpg' }}">
            </div>

            <div class="col-xs-12 col-sm-7">

                <h4 class="location-title page-title">
                    {% if clinic.clinicUrl %}
                        <a href="{{ clinic.clinicUrl }}">{{ clinic.clinicName }}</a>
                    {% elseif clinic.externalUrl %}
                        <a href="{{ clinic.externalUrl }}">{{ clinic.clinicName }}</a>
                    {% endif %}
                </h4>

                <address class="location-address k">
                    <i class="uw-ico clinic_locations"></i>
                    {{ clinic.address }}
                    {{ clinic.city }},
                    {{ clinic.state }}
                    {{ clinic.zipcode }}
                </address>

                <p class="location-phone k">
                    {% if clinic.seoPhone %}
                        <i class="uw-ico call_solid"></i>
                        {% set phone = clinic.seoPhone|slice(0, 3)
                        ~'-'~ clinic.seoPhone|slice(3, 3)
                        ~'-'~ clinic.seoPhone|slice(6, 4) %}
                        <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a>
                    {% endif %}
                </p>

                <p class="location-services k">
                    {% if clinic.expertises %}
                        <i class="uw-ico checkmark"></i>
                        {{ uwm_extract_parts(clinic, 'expertiseName')|slice(0, 4)|uwm_join_parts(', ') }}
                    {% endif %}
                </p>

                <div class="location-hours k">
                    {% if clinic.clinicTimeUseMasters[0] %}
                    {{ _clinicHours.uwOpenNowSnippet(clinic.clinicTimeUseMasters[0]) }}
                    {% endif %}
                </div>

            </div>

        </div>

    {% endfor %}
</div>