{{ attach_library('uwmed/clinic-nodes') }}

{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

{% set _cli = node.uwmcs_reader_api_values %}

{% set phone = _cli.seoPhone|slice(0, 3)
~'-'~ _cli.seoPhone|slice(3, 3)
~'-'~ _cli.seoPhone|slice(6, 4) %}

<article{{ attributes.addClass(classes) }}>

    <section class="remove-padding clinic-header">

        <div class="visible-xs-block m-head">

            <div class="col-xs-12 remove-padding m-image">
                {{ content.field_clinic_image }}
                <h1{{ title_attributes }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h1>
            </div>
            <div class="col-xs-12 m-hours">
                {% include directory ~'/templates/node/node--uwm-clinic.hours.html.twig' %}
            </div>
            <div class="col-xs-12 m-address">
                <address>{{ _cli.address }} <i class="uw-s"></i>
                    {{ _cli.city }},
                    {{ _cli.state }}
                    {{ _cli.zipcode }} <i class="uw-s"></i>
                    <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a>
                </address>
            </div>
        </div>

        <div class="col-sm-4 left">
            <div class="col-xs-12 hidden-xs remove-padding">
                {{ content.field_clinic_image }}
                {#<pre>{{ dump(content.field_clinic_image) }}</pre>#}
                {#1. {{ content.field_clinic_image }}#}
                {#2. <img class="swiper-image" src="{{ file_url(node.field_slides[key].entity.uri.value) }}" alt="{{ node.field_slides[key].alt  }}" />#}
                {#3. {{ content.field_clinic_image[key].entity.uri.value | image_style('Large') }}#}
            </div>
            <div class="col-xs-12 l">

                <a href="#directions"
                   role="tab"
                   id="directions-tab"
                   data-toggle="tab"
                   aria-controls="directions"
                   aria-expanded="false">
                    {{ 'Driving Directions'|t }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>

            </div>

            <div class="col-xs-12 l ll">

                <a href="/patient-care/making-an-appointment">{{ "Make an Appointment"|t }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i></a>


            </div>
            <div class="col-xs-12 get-in-line">
                <h4>{{ "Urgent Care"|t }}
                    <a href="#">Get in line<i class="fa fa-angle-right"
                                              aria-hidden="true"></i>
                    </a></h4>
                <p class="wait">
                    <span class="m">20</span> minutes wait
                </p>
            </div>
        </div>

        <div class="col-sm-8 hidden-xs right">

            <div class="col-sm-12 title">
                {{ title_prefix }}
                <h1{{ title_attributes }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h1>
                {{ title_suffix }}

                <address>{{ _cli.address }} <i class="uw-s"></i>
                    {{ _cli.city }},
                    {{ _cli.state }}
                    {{ _cli.zipcode }} <i class="uw-s"></i>
                    <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a>

                </address>
            </div>

            <div class="col-xs-12 remove-padding clinic-hours-container">

                {% include directory ~'/templates/node/node--uwm-clinic.hours.html.twig' %}

            </div>

            <div class="col-sm-12 foot">
                <p class="u-911">
                    <i class="fa u-911i"></i>
                    {{ "If at anypoint your symptoms worsen or you feel like
                    you are experiencing a medical emergency, call 9-1-1 or
                    proceed to the nearest emergency room."|t }}
                </p>
                {#{{ drupal_block('block_id') }}#}
            </div>
        </div>


    </section>

    <section class="clinic-tabs">

        <ul class="nav nav-tabs uwm-nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active"><a href="#services"
                                                      name="services"
                                                      id="services-tab"
                                                      role="tab"
                                                      data-toggle="tab"
                                                      aria-controls="services"
                                                      aria-expanded="true">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    {{ 'Services & Resources'|t }}

                </a>
            </li>
            <li role="presentation"><a href="#directions"
                                       name="directions"
                                       role="tab"
                                       id="directions-tab"
                                       data-toggle="tab"
                                       aria-controls="directions"
                                       aria-expanded="false">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    {{ 'Directions/ Parking'|t }}

                </a>
            </li>
            <li role="presentation"><a href="#providers"
                                       name="providers"
                                       role="tab"
                                       id="providers-tab"
                                       data-toggle="tab"
                                       aria-controls="providers"
                                       aria-expanded="false">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    {{ 'Care Providers'|t }}

                </a>
            </li>
        </ul>

        <div class="tab-content uwm-tab-content">

            <div class="tab-pane services-tab active in" role="tabpanel"
                 id="services" aria-labelledby="services-tab">

                <h3>Services</h3>
                <h2 class="leader">{{ "This clinic offers primary and urgent care, including:"|t }}</h2>
                <ul>
                    {% for s in _cli.services %}
                        <li>
                            <i class="fa fa-check-circle-o"
                               aria-hidden="true"></i>
                            {{ s.serviceName|t }}</li>
                    {% endfor %}
                    {% for s in _cli.expertises %}
                        <li>
                            <i class="fa fa-check-circle-o"
                               aria-hidden="true"></i>
                            {{ s.expertiseName|t }}</li>
                    {% endfor %}
                </ul>
                {#<div class="view-more"><a href="#">View More <i#}
                {#class="fa fa-angle-down"#}
                {#aria-hidden="true"></i></a></div>#}


            </div>

            <div class="tab-pane directions-tab" role="tabpanel"
                 id="directions" aria-labelledby="directions-tab">

                <h3>Directions & Parking</h3>

                {% include directory ~'/templates/node/node--uwm-clinic.directions.html.twig' %}


            </div>

            <div class="tab-pane providers-tab" role="tabpanel"
                 id="providers" aria-labelledby="providers-tab">

                <h3>Care Providers</h3>

                {% include directory ~'/templates/node/node--uwm-clinic.providers.html.twig' %}


            </div>
        </div>


    </section>


    {% if content.field_content_blocks |render is not empty %}
        <section class="clinic-paragraphs">
            <div class="bg"></div>

            {% if content.field_content_blocks_heading|render is not empty %}
                <h2 class="bi-line"> {{ content.field_content_blocks_heading }}</h2>
            {% endif %}

            {{ content.field_content_blocks }}

        </section>
    {% endif %}


    {% if content.body |render is not empty %}
        <section class="clinic-body">

            <div{{ content_attributes.addClass('content') }}>
                {{ content.body }}
                {#{{ content }}#}
            </div>

        </section>
    {% endif %}


    {% if content.field_bottom_content_blocks |render is not empty %}
        <section class="clinic-foot-paragraphs">

            {% if content.field_bottom_content_blocks_head|render is not empty %}
                <h2 class="bi-line"> {{ content.field_bottom_content_blocks_head }}</h2>
            {% endif %}
            {{ content.field_bottom_content_blocks }}

            {#<div class="view-more hidden"><a href="#">View More <i#}
            {#class="fa fa-angle-down"#}
            {#aria-hidden="true"></i></a>#}
            {#</div>#}

        </section>
    {% endif %}

    {#<pre>{{ dump(_cli) }}</pre>#}

</article>
