{% macro uwOpensNextSnippet_withRefresh(apiData, clinicNid = FALSE) %}

    {% if clinicNid|number_format > 0 %}
        {% set atr =
        ' data-uwm-refresh-from="/locations/location-hours/' ~ clinicNid|raw ~ '"' ~
        ' data-uwm-refresh-id="hours-macro-short-wrapper-' ~ clinicNid|raw ~ '"' ~
        ' class="fade-out"'
        %}
    {% endif %}
    {{ _self.uwOpensNextSnippet(apiData, FALSE, atr) }}

{% endmacro %}



{% macro uwOpenHoursTable_withRefresh(apiData, clinicNid = FALSE, mobile = FALSE) %}

    {% if clinicNid|number_format > 0 %}
        {% set atr =
        ' data-uwm-refresh-from="/locations/location-hours/' ~ clinicNid|raw ~ '"' ~
        ' data-uwm-refresh-id="hours-macro-wrapper-' ~ clinicNid|raw ~ '"' ~
        ' class="fade-out"'
        %}
    {% endif %}
  {% if clinicNid == 12861 and mobile == FALSE %}
    {{ _self.urgentCareDekstopHours(apiData, 12861) }}
  {% elseif clinicNid == 12861 and mobile == TRUE %}
    {{ _self.urgentCareMobileHours(apiData, 12861) }}
  {% else %}
    {{ _self.uwOpenHoursTable(apiData, TRUE, atr) }}
  {% endif %}

{% endmacro %}




{% macro uwOpensNextSnippet(apiData, briefText = FALSE, wrapperAttributes = FALSE) %}
    {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}
    {% set shortDays = {1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 'Thu', 5: 'Fri', 6: 'Sat', 0: 'Sun'} %}

  {% set _dn = timeNow|date('w')|number_format %}
    {% set _isOpen = false %}
    {% set _opensNext = false %}
    {% set _opensSoon = false %}
    {% set _closesSoon = false %}

    <span {{ wrapperAttributes|raw }}>

    {% for s in apiData %}
        {% if s.dayOfWeek == _dn %}

            {% set t = {
            'now': timeNow|date('U'),
            'starts': (timeNow|date('Y-m-d ')~' '~ s.startTime)|date('U'),
            'ends': (timeNow|date('Y-m-d ')~' '~ s.endTime)|date('U')
            } %}

            <!--  n: {{ t.now }}
            s: {{ t.starts }}
            e: {{ t.ends }}
            rn: {{ t.now|date('r') }}
            rs: {{ t.starts|date('r') }}
            re: {{ t.ends|date('r') }}   -->

            {% if (t.now < t.starts - 3600)  %}
                {% set _opensNext = s %}
            {% elseif (t.now > t.starts - 3660 and t.now < t.starts) %}
                {% set _opensSoon = s %}
            {% elseif (t.ends - 3660 < t.now and t.now < t.ends) %}
                {% set _closesSoon = s %}
            {% elseif (t.starts < t.now and t.now < t.ends) %}
                {% set _isOpen = s %}
            {% endif %}
        {% endif %}

        {% if s.dayOfWeek > _dn and not _opensNext %}
            {% set _opensNext = s %}
        {% endif %}

    {% endfor %}

        {% if not _opensNext %}
            {% set _opensNext = apiData|first %}
        {% endif %}

        {% if briefText %}

            {% if _isOpen %}
                <em><strong>Open - </strong> Closes at {{ "@end" | t({
                        '@end': _isOpen.endTime|date ('g:ia')|trim('m') }) }}</em>
            {% elseif _opensSoon %}
                <em><strong>Opens soon - </strong> {{ "@start" | t({
                        '@start': _opensSoon.startTime|date ('g:ia')|trim('m'),
                        '@end': _opensSoon.endTime|date ('g:ia')|trim('m') }) }}
                </em>
            {% elseif _closesSoon %}
              <em><strong>Closes soon - </strong> {{ "@end" | t({
                  '@start': _closesSoon.startTime|date ('g:ia')|trim('m'),
                  '@end': _closesSoon.endTime|date ('g:ia')|trim('m') }) }}
                </em>
            {% elseif _opensNext %}
              {% set displayDay = _opensNext.dayOfWeek == _dn ? "" : shortDays[_opensNext.dayOfWeek] %}
              <em><strong>Closed - </strong> {{ "Opens @day at @start" | t({
                        '@day': displayDay,
                        '@start': _opensNext.startTime|date ('g:ia')|trim('m') }) }}</em>
            {% endif %}

    {% else %}
            {% set icon %} <i
                    class="uw-ico uw-ico-md uwmed-icon__appointment"></i> {% endset %}

        {% if _isOpen %}
                <p class="opens-at">{{ icon }}
                    Open now: <em>{{ "Closes at @end" | t({
                            '@end': _isOpen.endTime|date ('g:ia') }) }}</em>
                </p>
        {% elseif _opensSoon %}
                <p class="opens-at">{{ icon }}
                    Opens soon: <em>{{ "@start - @end" | t({
                            '@start': _opensSoon.startTime|date ('g:ia'),
                            '@end': _opensSoon.endTime|date ('g:ia') }) }}</em>
                </p>
            {% elseif _closesSoon %}

                <p class="opens-at">{{ icon }}

                  Closes soon: <em>{{ "@end" | t({
                            '@end': _closesSoon.endTime|date ('g:ia') }) }}</em>
                </p>
          {% elseif _opensNext %}
            {% set displayDay = _opensNext.dayOfWeek == _dn ? "" : days[_opensNext.dayOfWeek] %}

            <p class="opens-at">{{ icon }}
              Closed: <em>{{ "Opens @day at @start" | t({
                  '@day': displayDay,
                  '@start': _opensNext.startTime|date ('g:ia') }) }}</em>
                </p>
            {% endif %}

        {% endif %}
    </span>

{% endmacro %}




{% macro uwOpenHoursTable(apiData, clinicNid = FALSE, wrapperAttributes = FALSE) %}

    {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}
    {% set primaryCareTimes = apiData.clinicTimeUseMasters[0].hoursOfOperation %}
    {% set urgentCareTimes = apiData.clinicTimeUseMasters[1].hoursOfOperation %}

    {# Check if this is a primary care clinic, set header appropriate #}
    {% set apiMedicalServices = apiData.medicalServices %}
    {% set medicalServices = [] %}
    {% for service in apiMedicalServices %}
      {% set medicalServices = medicalServices|merge([service.name]) %}
    {% endfor %}

    {% set firstHoursHeader = "Primary Care" in medicalServices ? "Primary Care" : "Clinic Hours" %}

    {# Check if this is a 24/7 clinic #}
    {% set open24Hours = null %}
    {% for day in primaryCareTimes %}
      {% if (day.startTime == "00:00:00") and (open24Hours or open24Hours is null) %}
        {% set open24Hours = true %}
      {% else %}
        {% set open24Hours = false %}
      {% endif %}
    {% endfor %}

    <div {{ wrapperAttributes|raw }}>

        {% if primaryCareTimes and not open24Hours %}

            <div class="col-xs-12 col-md-6 clinic-hours-table">

                <div class="visible-xs-block intro">
                    <h4>
                        <a role="button" data-toggle="collapse"
                           href="#primaryCareTimes"
                           aria-expanded="false"
                           aria-controls="primaryCareTimes">
                            {{ "#{firstHoursHeader}:"|t }}
                            {{ _self.uwOpensNextSnippet(primaryCareTimes, TRUE) }}
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div class="hidden-xs intro">
                    <h4>{{ firstHoursHeader|t }}</h4>
                    {{ _self.uwOpensNextSnippet(primaryCareTimes) }}
                </div>

                <div class="wrapper collapse-mobile" id="primaryCareTimes">
                    <ul>

                        {% for n,day in days %}
                            {% set timeExists = false %}

                            <li>

                                {% for s in primaryCareTimes %}
                                    {% if s.dayOfWeek == n %}

                                        {% set timeExists = true %}
                                        <span class="day">{{ day }}</span>
                                        <span class="hours"><span>

                                            {{ "@start - @end"
                                            |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                                '@end': s.endTime|date ('g:ia')|trim('m')
                                            }) }}
                                        </span></span>

                                    {% endif %}
                                {% endfor %}
                                {% if not timeExists %}

                                    <span class="day">{{ day }}</span>
                                    <span class="hours"><span>{{ "Closed"|t }}</span></span>

                                {% endif %}

                            </li>

                        {% endfor %}

                    </ul>
                </div>

            </div>

        {% endif %}

        {% if urgentCareTimes and not open24Hours %}

            <div class="col-xs-12 col-md-6 clinic-hours-table urgent-care">

                <div class="visible-xs-block intro">
                    <h4>
                        <a role="button" data-toggle="collapse"
                           href="#urgentCareTimes"
                           aria-expanded="false"
                           aria-controls="urgentCareTimes">
                            {{ "Urgent Care:"|t }}
                            {{ _self.uwOpensNextSnippet(urgentCareTimes, TRUE) }}

                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>

                    </h4>
                </div>

                <div class="hidden-xs intro">
                    <h4>{{ "Urgent Care"|t }}</h4>
                    {{ _self.uwOpensNextSnippet(urgentCareTimes) }}
                </div>


                <div class="wrapper collapse-mobile" id="urgentCareTimes">

                    <ul>

                        {% for n,day in days %}
                            {% set timeExists = false %}

                            <li>

                                {% for s in urgentCareTimes %}
                                    {% if s.dayOfWeek == n %}

                                        {% set timeExists = true %}
                                        <span class="day">{{ day }}</span>
                                        <span class="hours"><span>

                                        {{ "@start - @end"
                                        |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                            '@end': s.endTime|date ('g:ia')|trim('m')
                                        }) }}
                                    </span></span>

                                    {% endif %}
                                {% endfor %}
                                {% if not timeExists %}

                                    <span class="day">{{ day }}</span>
                                    <span class="hours"><span>{{ "Closed"|t }}</span></span>

                                {% endif %}

                            </li>

                        {% endfor %}

                    </ul>
                </div>

            </div>

        {% endif %}

        {% if open24Hours %}
          <div class="col-xs-12 col-md-6 clinic-hours-table always-open">

            <div class="visible-xs-block intro">
              <h4>
                <a role="button" data-toggle="collapse"
                   href="#primaryCareTimes"
                   aria-expanded="false"
                   aria-controls="primaryCareTimes">
                  {{ "#{firstHoursHeader}:"|t }}
                  <em><strong>Always Open</strong></em>
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
              </h4>
            </div>
            <div class="hidden-xs intro">
              <h4>{{ firstHoursHeader|t }}</h4>
              <p class="opens-at"><em><strong>Always Open</strong></em></p>
            </div>

            <div class="wrapper collapse-mobile" id="primaryCareTimes">
              <p>This location is open 24 hours a day, 7 days a week.</p>
            </div>

          </div>
        {% endif %}

    </div>

{% endmacro %}

{% macro urgentCareDekstopHours(apiData, clinicNid = FALSE, wrapperAttributes = FALSE) %}

  {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}
  {% set times = apiData.clinicTimeUseMasters[0].hoursOfOperation %}

  {% set wrapperAttributes =
  ' data-uwm-refresh-from="/locations/location-hours/' ~ clinicNid|raw ~ '"' ~
  ' data-uwm-refresh-id="urgent-care-hours-desktop-' ~ clinicNid|raw ~ '"' ~
  ' class="fade-out"'
  %}

  <div {{ wrapperAttributes|raw }}>

    {% if times %}

      <div class="col-md-11 clinic-hours-table urgent-care">

        <div class="intro">
          {{ _self.uwOpensNextSnippet(times, FALSE) }}
        </div>

        <div class="wrapper collapse-mobile" id="urgentCareTimes">
          <p class="hours-header h5">Urgent Care Clinic Hours</p>

          <ul>

            {% for n,day in days %}
              {% set timeExists = false %}

              <li>

                {% for s in times %}
                  {% if s.dayOfWeek == n %}

                    {% set timeExists = true %}
                    <span class="day">{{ day }}</span>
                    <span class="hours"><span>

                                            {{ "@start - @end"
                                            |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                              '@end': s.endTime|date ('g:ia')|trim('m')
                                            }) }}
                                        </span></span>

                  {% endif %}
                {% endfor %}
                {% if not timeExists %}

                  <span class="day">{{ day }}</span>
                  <span class="hours"><span>{{ "Closed"|t }}</span></span>

                {% endif %}

              </li>

            {% endfor %}

          </ul>
          {# Special Hours#}
          {{ drupal_entity('block_content', 81) }}
        </div>

      </div>

    {% endif %}

  </div>

{% endmacro %}

{% macro urgentCareMobileHours(apiData, clinicNid = FALSE, wrapperAttributes = FALSE) %}

  {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}
  {% set times = apiData.clinicTimeUseMasters[0].hoursOfOperation %}

  {% set wrapperAttributes =
  ' data-uwm-refresh-from="/locations/location-hours/' ~ clinicNid|raw ~ '"' ~
  ' data-uwm-refresh-id="urgent-care-hours-mobile-' ~ clinicNid|raw ~ '"' ~
  ' class="fade-out"'
  %}

  <div {{ wrapperAttributes|raw }}>

    {% if times %}

      <div class="col-xs-12 clinic-hours-table urgent-care">

        <div class="intro">
          <h2 class="h4">
            <a role="button" data-toggle="collapse"
              href="#urgentCareTimesMobile"
              aria-expanded="false"
              aria-controls="urgentCareTimesMobile">
              {{ "URGENT CARE:"|t }}
              {{  _self.uwOpensNextSnippet(times, TRUE) }}
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </h2>

        </div>

        <div class="wrapper collapse" id="urgentCareTimesMobile">
          <p class="hours-header h5">Urgent Care Clinic Hours</p>

          <ul class="col-sm-6 col-md-4">

            {% for n,day in days %}
              {% set timeExists = false %}

              <li>

                {% for s in times %}
                  {% if s.dayOfWeek == n %}

                    {% set timeExists = true %}
                    <span class="day">{{ day }}</span>
                    <span class="hours"><span>

                                            {{ "@start - @end"
                                            |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                              '@end': s.endTime|date ('g:ia')|trim('m')
                                            }) }}
                                        </span></span>

                  {% endif %}
                {% endfor %}
                {% if not timeExists %}

                  <span class="day">{{ day }}</span>
                  <span class="hours"><span>{{ "Closed"|t }}</span></span>

                {% endif %}

              </li>

            {% endfor %}

          </ul>

        </div>
        {# Special Hours#}
        {{ drupal_entity('block_content', 81) }}
      </div>

    {% endif %}

  </div>

{% endmacro %}
