{{ attach_library('uwmed/clinic-hours') }}


{% import directory ~'/templates/node/node--uwm-clinic.hours.html.twig' as _clinicHours %}


<div class="row">
    {% for clinic in locations %}

        <div class="col-xs-12 col-xl-6 provider-location">

            <div class="col-xs-5 location-image">
                <img src="{{ clinic.externalUrl|replace({'http://': 'https://'}) ~ '/PublishingImages/splash1.jpg' }}">
            </div>

            <h4 class="col-xs-7 pull-right location-title">
              {% if clinic.clinicUrl %}
                <a href="{{ clinic.clinicUrl }}">{{ clinic.clinicName }}</a>
              {% elseif clinic.externalUrl %}
                <a href="{{ clinic.externalUrl }}">{{ clinic.clinicName }}</a>
              {% endif %}
            </h4>

            <address class="col-xs-7 pull-right location-address k">
                <i class="uw-ico uw-ico-md clinic_locations"></i>
                {{ clinic.address }}
                {{ clinic.city }},
                {{ clinic.state }}
                {{ clinic.zipcode }}
            </address>

            <div class="col-xs-7 pull-right location-phone k">
              {% if clinic.seoPhone %}
                <i class="uw-ico uw-ico-md call_solid"></i>
                {% set phone = clinic.seoPhone|slice(0, 3)
                ~'-'~ clinic.seoPhone|slice(3, 3)
                ~'-'~ clinic.seoPhone|slice(6, 4) %}
                <a href="tel:{{ phone }}">{{ phone|replace({'-': '.'}) }}</a>
              {% endif %}
            </div>

            <div class="col-xs-7 pull-right location-hours k">
                {% set clinicNid = uwm_get_api_nid(clinic.url) %}
                {% if clinic.clinicTimeUseMasters[0].hoursOfOperation and clinicNid %}
                {{ _clinicHours.uwOpensAt(clinic.clinicTimeUseMasters[0].hoursOfOperation, FALSE, clinicNid) }}
                {% endif %}
            </div>

        </div>

    {% endfor %}
</div>