{#


    https://webservices.uwmedicine.org/api/bioinformation/299812
    https://webservices.uwmedicine.org/api/bioinformation/252456



#}

{{ attach_library('uwmed/bootstrap-tab-history') }}

{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
'container-lg',
] %}

{% set _bio = node.uwmcs_reader_api_values %}

{% set profileImage = ('noimage.jpg' in _bio.bioImageUrl) ?
    '/' ~ directory ~ '/dist/assets/provider-silhouette.jpg' : _bio.bioImageUrl %}

{% set specialities = [] %}
{% for j,k in _bio.expertise %}
    {% set specialities = specialities|merge({ (j): k.expertiseName }) %}
{% endfor %}

{% set locations = [] %}
{% set i = 0 %}
{% for j,k in _bio.careNetworks %}
    {% for l,m in k.clinicBases %}
        {% set i = i+1 %}
        {% set locations = locations|merge({ (i): m }) %}
    {% endfor %}
{% endfor %}


<article{{ attributes.addClass(classes) }}>

    {{ ecare_link }}
    {{ ecare_widget }}


    <div class="row">

        <section class="col-xs-12 col-sm-3 left">

            <div class="col-xs-6 col-sm-12 profile-image">
                <img src="{{ profileImage }}">
            </div>

            <div class="col-sm-12 accepting-apts l">
                {% if _bio.acceptingAppointments %}
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {{ "Accepting new patients"| t }}
                {% else %}
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    {{ "Not accepting new patients"| t }}
                {% endif %}
            </div>

            <div class="col-sm-12 make-an-appointment l">
                {% if _bio.acceptingAppointments %}
                    <a href="/patient-care/making-an-appointment">{{ "Make an Appointment"|t }}
                        <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                {% else %}
                    <a href="/search/providers">{{ "Find a Provider"|t }}
                        <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                {% endif %}
            </div>

            {#<div class="col-xs-12 ratings l">#}
            {##}
            {#</div>#}

            <div class="col-sm-12 specialities l">
                {% if specialities %}
                    <h5>{{ "Specialities"| t }}</h5>
                    <ul>
                        {% for i in specialities %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-sm-12 languages l">
                {% if _bio.languages %}
                    <h5>{{ "Languages"| t }}</h5>
                    <ul>
                        {% for i in _bio.languages %}
                            <li>{{ i.languageName }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </section>


        <section class="col-xs-12 col-sm-9 right">

            <ul class="nav nav-tabs uwm-nav-tabs" role="tablist">

                <li role="presentation" class="active"><a href="#overview"
                                                          name="overview"
                                                          id="overview-tab"
                                                          role="tab"
                                                          data-toggle="tab"
                                                          aria-controls="overview"
                                                          aria-expanded="true"
                                                          data-tab-history="true"
                                                          data-tab-history-changer="push"
                                                          data-tab-history-update-url="true">
                        <i class="uw-ico heart" aria-hidden="true"></i>
                        {{ 'Overview'|t }}

                    </a>
                </li>

                <li role="presentation"><a href="#locations"
                                           name="locations"
                                           role="tab"
                                           id="locations-tab"
                                           data-toggle="tab"
                                           aria-controls="locations"
                                           aria-expanded="false"
                                           data-tab-history="true"
                                           data-tab-history-changer="push"
                                           data-tab-history-update-url="true">
                        <i class="uw-ico heart" aria-hidden="true"
                        ></i>
                        {{ 'Locations'|t }}

                    </a>
                </li>

                {% if _bio.educationHistories %}
                    <li role="presentation"><a href="#education"
                                               name="education"
                                               role="tab"
                                               id="education-tab"
                                               data-toggle="tab"
                                               aria-controls="education"
                                               aria-expanded="false"
                                               data-tab-history="true"
                                               data-tab-history-changer="push"
                                               data-tab-history-update-url="true">
                            <i class="uw-ico heart" aria-hidden="true"></i>
                            {{ 'Education'|t }}

                        </a>
                    </li>
                {% endif %}

                {% if _bio.bioPublicationsDetails %}
                    <li role="presentation"><a href="#publications"
                                               name="publications"
                                               role="tab"
                                               id="publications-tab"
                                               data-toggle="tab"
                                               aria-controls="publications"
                                               aria-expanded="false">
                            <i class="uw-ico heart" aria-hidden="true"></i>
                            {{ 'Publications'|t }}

                        </a>
                    </li>
                {% endif %}

            </ul>

            <div class="tab-content uwm-tab-content">

                <div class="row tab-pane active in overview-tab" role="tabpanel"
                     id="overview" aria-labelledby="services-tab">

                    {% if content.field_content_blocks|render or (drupal_region('content_innner_sidebar')) is not empty %}
                        <aside class="inner-sidebar col-sm-5 pull-right hidden-xs"
                               role="complementary">
                            {{ content.field_content_blocks }}
                            {{ drupal_region('content_innner_sidebar') }}
                        </aside>
                    {% endif %}


                    <h4>{{ 'Biography'|t }}</h4>
                    {% if _bio.fullBio %}
                        {{ _bio.fullBio|uwm_replace_markup|striptags('<p><br><a>')|raw }}
                        {#{{ _bio.fullBio|uwm_replace_markup|check_markup('basic_html') }}#}
                        {#|preg_replace('/<style .*style>/s', '')|striptags('<p><br><a>')|raw }}#}
                    {% else %}
                        We’ll have {{ _bio.fullName }}’s bio available soon.

                    {% endif %}

                    {% if _bio.personalInterests %}
                        <h4>{{ 'Personal Interests'|t }}</h4>
                        {{ _bio.personalInterests|uwm_replace_markup|check_markup('basic_html') }}
                    {% endif %}

                </div>

                <div class="row tab-pane locations-tab" role="tabpanel"
                     id="locations" aria-labelledby="locations-tab">

                    {% include directory ~'/templates/node/node--uwm-provider.locations.html.twig' %}

                </div>

                {% if _bio.educationHistories %}
                    <div class="row tab-pane education-tab" role="tabpanel"
                         id="education" aria-labelledby="providers-tab">

                        {% include directory ~'/templates/node/node--uwm-provider.education.html.twig' %}

                    </div>
                {% endif %}

                {% if _bio.bioPublicationsDetails %}
                    <div class="row tab-pane publications-tab" role="tabpanel"
                         id="publications" aria-labelledby="publications-tab">

                        {% include directory ~'/templates/node/node--uwm-provider.publications.html.twig' %}

                    </div>
                {% endif %}

            </div>

            {% if content.field_content_blocks|render or (drupal_region('content_innner_sidebar')) is not empty %}
                <aside class="inner-sidebar visible-xs-block"
                       role="complementary">
                    {{ content.field_content_blocks }}
                    {{ drupal_region('content_innner_sidebar') }}
                </aside>
            {% endif %}


        </section>

    </div>
</article>

