
<div class="container care-now-container">

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ "Urgent Care and Virtual Clinic &mdash; help when and where you
                need it."|t }}</h2>

            <p class="care-now__intro">{{ "Can't get in for a same-day appointment?
            UW Medicine urgent care clinics are open 7 days a week for walk-ins
            or use the “GET IN LINE” option and we’ll hold your spot in line.
            UW Medicine Virtual Clinic is available online 24/7."|t }}</p>
        </div>
    </div>

    <div class="row flex-row">
        {#{{ devel_breakpoint() }}#}

        {% for clinic in urgent_care_clinics %}

            {% set clinicNid = uwm_get_api_nid(clinic.url) %}
            {% if clinicNid %}
                {{ drupal_entity('node', clinicNid, 'card_display') }}
            {% endif %}

        {% endfor %}

    </div>
</div>


{{ content.field_bottom_content_blocks }}
