{% macro uwOpenNowSnippet(timesData, briefText = FALSE) %}

    {% set attributes %}
        {% for j, k in {
        'uwm-opens-next': true,
        'data-opens': timesData.opens,
        'data-closes': timesData.closes,
        'data-next-opens': timesData.nextOpens,
        'data-next-closes': timesData.nextCloses
        } %}{{ j }}="{{ k }}" {% endfor %}{% endset %}

    {% if briefText %}
        <em class="opens-at" {{ attributes }}></em>
    {% else %}
        <p class="opens-at" {{ attributes }}><i
                    class="uw-ico uw-ico-md uwmed-icon__appointment"></i>
            <em></em></p>
    {% endif %}

{% endmacro %}


{% macro uwHoursColumn(timesArray, timesHeader) %}

    {% set tableId = tableHeader|replace(' ', '') %}
    {% set days = {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 0: 'Sunday'} %}

    <div class="col-xs-12 col-md-6 clinic-hours-table">

        <div class="visible-xs-block intro">
            <h4>
                <a role="button" data-toggle="collapse"
                   href="#table{{ tableId }}"
                   aria-expanded="false"
                   aria-controls="table{{ tableId }}">
                    {{ timesHeader ?? ""|t }}:
                    {{ _self.uwOpenNowSnippet(timesArray, true) }}
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>

                </a>
            </h4>
        </div>
        <div class="hidden-xs intro">

            <h4>{{ tableHeader ?? ""|t }}</h4>

            {{ _self.uwOpenNowSnippet(timesArray) }}

        </div>

        <div class="wrapper collapse-mobile" id="table{{ tableId }}">
            <ul>

                {% for n, day in days %}
                    {% set inBusiness = false %}

                    <li>

                        {% for s in timesArray.hoursOfOperation %}
                            {% if s.dayOfWeek == n %}

                                {% set inBusiness = true %}

                                <span class="day">{{ day }}</span>
                                <span class="hours"><span>
                                        {{ "@start - @end"
                                        |t({ '@start': s.startTime|date ('g:ia')|trim('m'),
                                            '@end': s.endTime|date ('g:ia')|trim('m')
                                        }) }}
                                        </span></span>

                            {% endif %}
                        {% endfor %}
                        {% if not inBusiness %}

                            <span class="day">{{ day }}</span>
                            <span class="hours"><span>{{ "Closed"|t }}</span></span>

                        {% endif %}

                    </li>

                {% endfor %}

            </ul>
        </div>

    </div>

{% endmacro %}


{% macro uwOpenHoursTable(apiData, clinicNid = FALSE, wrapperAttributes = FALSE) %}


    {# Check if this is a primary care clinic, set header appropriate #}
    {% set apiMedicalServices = apiData.medicalServices %}
    {% set medicalServices = [] %}
    {% for service in apiMedicalServices %}
        {% set medicalServices = medicalServices|merge([service.name]) %}
    {% endfor %}


    {# Check if this is a 24/7 clinic #}
    {% set open24Hours = null %}
    {% for day in apiData.clinicTimeUseMasters[0] %}
        {% if (day.startTime == "00:00:00") and (open24Hours or open24Hours is null) %}
            {% set open24Hours = true %}
        {% else %}
            {% set open24Hours = false %}
        {% endif %}
    {% endfor %}

    <div {{ wrapperAttributes|raw }}>

        {% if open24Hours %}

            <div class="col-xs-12 col-md-6 clinic-hours-table always-open">

                <div class="visible-xs-block intro">
                    <h4>
                        <a role="button" data-toggle="collapse"
                           href="#primaryCareTimes"
                           aria-expanded="false"
                           aria-controls="primaryCareTimes">
                            {{ "#{firstHoursHeader}:"|t }}
                            <em><strong>{{ "Always Open"|t }}</strong></em>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div class="hidden-xs intro">
                    <h4>{{ "Primary Care" in medicalServices ? "Primary Care" : "Clinic Hours" |t }}</h4>
                    <p class="opens-at">
                        <em><strong>{{ "Always Open"|t }}</strong></em>
                    </p>
                </div>

                <div class="wrapper collapse-mobile" id="primaryCareTimes">
                    <p>{{ "This location is open 24 hours a day, 7 days a week."|t }}</p>
                </div>

            </div>

        {% else %}


            {% if apiData.clinicTimeUseMasters[0].hoursOfOperation %}

                {{ _self.uwHoursColumn(apiData.clinicTimeUseMasters[0], "Primary Care") }}

            {% endif %}

            {% if apiData.clinicTimeUseMasters[1].hoursOfOperation %}

                {{ _self.uwHoursColumn(apiData.clinicTimeUseMasters[1], "Urgent Care") }}

            {% endif %}

        {% endif %}

    </div>

{% endmacro %}
